<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ktptsPayments.Properties.Settings.ktptsPaymentsConnectionString"
            connectionString="Data Source=PATTERN-RECOG\SQLEXPRESS2019;Initial Catalog=ktptsPayments;Persist Security Info=True;User ID=sa;Password=mardan!1"
            providerName="System.Data.SqlClient" />
                    <add name="ktptsPayments.Properties.Settings.UniConString"
            connectionString="Data Source=PATTERN-RECOG\SQLEXPRESS2019;Initial Catalog=ktptsPayments;Persist Security Info=True;User ID=sa;Password=mardan!1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>